#Tab
{
    list-style-type:none;
    margin:0px;
    padding:0px;
    margin-top:10px;
    font-size:9pt;
}

#Tab li
{
    float:left;
    background:url('/images/tubg_bak.gif') repeat-x;
    margin-left:5px;
    height:21px;
}
    
#Tab li div
{
    background:url('/images/tu_bak1.gif') no-repeat top left;
}

#Tab li a
{
    padding:0 1em;
    display:block;
    cursor:pointer;
    line-height:2.1em;
    background:url('/images/tu_bak2.gif') no-repeat top right;
}