<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!--文件上传服务器-->
    <add key="FileUploadUrl" value="http://file.chat.zgsxw.com"/>

    <!--客服与用户消息保存时间间隔，暂设30分钟前的数据保存-->
    <add key="P2SMessageSaveInterval" value="30"/>

    <!--群消息保存时间间隔，暂设120分钟前的数据保存-->
    <add key="GroupMessageSaveInterval" value="120"/>
  </appSettings>

  <connectionStrings>
    <add name="FundLiveChat" connectionString="server=(local);Database=WebLiveChat;Uid=sa;Pwd=shumiwang;" providerName="MySoft.Data.SqlServer9.SqlServer9Provider"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true">
    </compilation>
  </system.web>

</configuration>
