<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="livechat.framework">
      <section name="remotingServer" type="LiveChat.Remoting.RemotingServerConfigurationHandler,LiveChat.Framework"/>
    </sectionGroup>
  </configSections>

  <livechat.framework>
    <remotingServer>
      <server channelType="tcp" serverAddress="127.0.0.1" port="3333"/>
      <remoteObject name="SeatService" assemblyName="LiveChat.Service" className="LiveChat.Service.SeatService"  mode="singlecall"/>
      <remoteObject name="UserService" assemblyName="LiveChat.Service" className="LiveChat.Service.UserService"  mode="singlecall"/>
    </remotingServer>
  </livechat.framework>

  <system.runtime.remoting>
    <customErrors mode="Off"/>
  </system.runtime.remoting>

  <appSettings>
    <!--文件上传服务器-->
    <add key="FileUploadUrl" value="http://file.chat.zgsxw.com"/>

    <!--消息保存时间间隔，暂设1分钟前的数据保存(单位：分钟)-->
    <add key="MessageSaveInterval" value="1"/>

    <!--超时退出间隔时间(单位：分钟) -->
    <add key="TimeoutExitInterval" value="1"/>
  </appSettings>

  <connectionStrings>
    <add name="FundLiveChat" connectionString="server=(local);Database=WebLiveChat;Uid=sa;Pwd=shumiwang;" providerName="MySoft.Data.SqlServer9.SqlServer9Provider"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true">
    </compilation>
  </system.web>

</configuration>
