/* BACKGROUND-COLOR: #66ccff */
.overlay_dialog {
	FILTER: Alpha(Opacity=40,Style=0); BACKGROUND-COLOR: #ccc; moz-opacity: 0.4; opacity: 0.4
}
.dialog_nw {
	BACKGROUND: url(office/top_left.gif) no-repeat; WIDTH: 5px; HEIGHT: 30px
}
.dialog_n {
	BACKGROUND: url(office/top_center.gif) repeat-x; HEIGHT: 30px
}
.dialog_ne {
	BACKGROUND: url(office/top_right.gif) no-repeat; WIDTH: 5px; HEIGHT: 30px
}
.dialog_w {
	BACKGROUND: url(office/mid_left.gif) repeat-y; WIDTH: 5px
}
.dialog_e {
	BACKGROUND: url(office/mid_right.gif) repeat-y; WIDTH: 5px
}
.dialog_sw {
	BACKGROUND: url(office/bottom_left.gif) no-repeat; WIDTH: 5px; HEIGHT: 23px
}
.dialog_s {
	BACKGROUND: url(office/bottom_center.gif) repeat-x; HEIGHT: 23px
}
.dialog_se {
	BACKGROUND: url(office/bottom_right.gif) no-repeat; WIDTH: 5px; HEIGHT: 23px
}
.dialog_sizer {
	BACKGROUND: url(office/sizer.gif) no-repeat; WIDTH: 15px; CURSOR: se-resize; HEIGHT: 23px
}
.dialog_close {
	Z-INDEX: 2000; BACKGROUND: url(office/close.gif) no-repeat 0px 0px; FLOAT: right; WIDTH: 25px; CURSOR: pointer; MARGIN-RIGHT: 3px; HEIGHT: 24px
}
.dialog_minimize {
	Z-INDEX: 2000; BACKGROUND: url(office/mini.gif) no-repeat 0px 0px; FLOAT: right; WIDTH: 25px; CURSOR: pointer; MARGIN-RIGHT: 3px; HEIGHT: 24px
}
.dialog_maximize {
	Z-INDEX: 2000; BACKGROUND: url(office/maxi.gif) no-repeat 0px 0px; FLOAT: right; WIDTH: 25px; CURSOR: pointer; MARGIN-RIGHT: 3px; HEIGHT: 24px
}
.dialog_title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; WIDTH: auto; COLOR: #15428b; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.dialog_content {
	OVERFLOW: auto; BACKGROUND-COLOR: #fff
}
.dialog_buttons {
	OVERFLOW: hidden; PADDING-TOP: 2px; BACKGROUND-COLOR: #eee; TEXT-ALIGN: center
}
.dialog_buttons BUTTON {
	MARGIN: 0px 1px
}
.dialog_progress {
	BACKGROUND: url(office/progress.gif) #fff no-repeat center center; FLOAT: left; MARGIN: auto; WIDTH: 100%; HEIGHT: 100%; TEXT-ALIGN: center
}
.top_draggable {
	CURSOR: move
}
.bottom_draggable {
	CURSOR: move
}
.status_bar {
	FONT-SIZE: 12px
}
.status_bar INPUT {
	FONT-SIZE: 12px
}
.dialog {
	DISPLAY: block; POSITION: absolute
}
.dialog TABLE.table_window {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0
}
.dialog TABLE.table_window TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.dialog TABLE.table_window TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.dialog_masker {
	POSITION: absolute
}
.dialog .title_window {
	moz-user-select: none
}
