<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="mysoft.framework">
			<section name="castleFactory" type="MySoft.IoC.CastleFactoryConfigurationHandler, MySoft.IoC"/>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="SendMailAddress" value="maoyong@fund123.cn,usercenter@51shumi.com"/>
	</appSettings>

	<mysoft.framework>
		<castleFactory type="Remoting" name="testServiceFactory" protocol="Tcp" server="127.0.0.1" port="8888" maxTry="3" />
	</mysoft.framework>
</configuration>
