<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="livechat.framework">
      <section name="remotingClient" type="LiveChat.Remoting.RemotingClientConfigurationHandler,LiveChat.Framework"/>
    </sectionGroup>
  </configSections>

  <livechat.framework>
    <remotingClient isCheckServer="false" interval="1000">
      <remotingHost name="host1" defaultServer="s1">
        <server name="s1" url="tcp://211.155.224.178:3333"></server>
        <server name="s2" url="tcp://127.0.0.1:3333"></server>
        <remoteObject name="SeatService" objectUri="LiveChat.Service.SeatService"/>
        <remoteObject name="UserService" objectUri="LiveChat.Service.UserService"/>
      </remotingHost>
    </remotingClient>
  </livechat.framework>
  
</configuration>