<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="mysoft.framework">
			<section name="castleFactory" type="MySoft.IoC.CastleFactoryConfigurationHandler, MySoft.IoC2"/>
		</sectionGroup>
	</configSections>

	<mysoft.framework>
		<castleFactory type="Remote" transfer="Binary" server="127.0.0.1" port="9982" />
	</mysoft.framework>
</configuration>
