<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="serviceFramework">
      <section name="castleServer" type="MySoft.IoC.Service.CastleServerConfigurationHandler, MySoft.IoC"/>
    </sectionGroup>
  </configSections>

  <serviceFramework>
    <castleServer type="Remoting" name="testServiceFactory" protocol="TCP" server="127.0.0.1" port="8888" debug="true" maxTry="30"/>
  </serviceFramework>
</configuration>
