<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="serviceFramework">
      <section name="castleClient" type="MySoft.IoC.Service.CastleClientConfigurationHandler, MySoft.IoC" />
    </sectionGroup>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>

  <castle>
    <components>
      <!--You can use standard castle component decleration schema to define service interface impls here-->
      <component id="service" service="MySoft.IoC.Dll.IUserService, MySoft.IoC.Dll"  />
    </components>
  </castle>

  <serviceFramework>
    <castleClient type="Remoting" name="testServiceFactory" protocol="TCP" server="127.0.0.1" port="8888" debug="true" maxTry="30" timeout="-1"/>
  </serviceFramework>

</configuration>